In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("output/all.csv")

In [4]:
data.head()

,query,engine,limit,execution_time,nb_calls,nb_results,loading_time,resume_time,workload,run
0,C3,orderby,1,22.136542,113,1,11.149328,0.088820,watdiv,1
1,C3,orderby,1,22.182792,113,1,11.597458,0.088403,watdiv,2
2,C3,orderby,1,22.212452,114,1,11.488555,0.089844,watdiv,3
3,C3,orderby,10,22.452215,114,10,11.098878,0.125130,watdiv,1
4,C3,orderby,10,22.260090,114,10,11.284136,0.121878,watdiv,2